{% extends 'layout.html.twig' %}

{% block content %}


	<div class="container-fluid">
		<div class="row ">
			<div class="col">
				<h1 class="text-center m-5 ">Mentions Légales
				</h1>
				<p class="descbiomob text-center mb-5 fs-3">
					Nous sommes partis d'un constat simple, nous avons<strong>
						tous
					</strong>
					des vieux téléphone qui traîne dans nos tiroirs,
										nous avons donc imaginer une application simple qui permet de donner son vieux téléphone et pour des utilisateurs de les récupérer
										autour de chez lui....
				</p>
				<h2 class="text-center mb-5">Notre équipe Bio'Mob</h2>
				<main>
					<div class="container-fluid">
						<div class="row">
							<div class="card p-3 m-3 mx-auto col-4" style="width: 18rem;">
								<img src="assets/images/" class="img-fluid" alt="house lake"/>
								<div class="card-body">
									<h5 class="card-title">Alex</h5>
									<p class="card-text">
										Some quick example text to build on the card title and make up the
									</p>
								</div>
							</div>
							<div class="card p-3 m-3 mx-auto col-4" style="width: 18rem;">
								<img src="assets/images/mary.jpg" class="img-fluid" alt="house lake"/>
								<div class="card-body">
									<h5 class="card-title">Marysa</h5>
									<p class="card-text">
                                    Geek, Otaku & Baroudeuse en puissance 
									</p>
								</div>
							</div>
							<div class="card p-3 m-3 mx-auto col-4" style="width: 18rem;">
								<img src="/assets/images/" class="img-fluid" alt="house lake"/>
								<div class="card-body">
									<h5 class="card-title">Johan</h5>
									<p class="card-text">
										Some quick example text to build on the card title and make up the
									</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="card p-3 m-3 mx-auto col-4" style="width: 18rem;">
								<img src="assets/images/yo.jpg" class="img-fluid" alt="house lake"/>
								<div class="card-body">
									<h5 class="card-title">Yoann</h5>
									<p class="card-text text-center">
										écolo du dimanche
									</p>
								</div>
							</div>
							<div class="card p-3 m-3 mx-auto col-4" style="width: 18rem;">
								<img src="assets/images/" class="img-fluid" alt="house lake"/>
								<div class="card-body">
									<h5 class="card-title">Tushar</h5>
									<p class="card-text">
										Some quick example text to build on the card title and make up the
									</p>
								</div>
							</div>
							<div class="card p-3 m-3 mx-auto col-4" style="width: 18rem;">
								<img src="assets/images/Pics .jpg" class="img-fluid" alt="house lake"/>
								<div class="card-body">
									<h5 class="card-title">Hervé</h5>
									<p class="card-text">
										Save the planet
									</p>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
	</div>
</div>{% endblock %}
