{% extends 'layout.html.twig' %}

{% block content %}


		<div class="container-fluid">
			<div class="row ">
				<div class="col">
					<h1 class="text-center m-5 ">Mentions Légales
					</h1>
					<p class="text-center mb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia nemo quos ut cupiditate odit,
                     pariatur temporibus eius! Fugiat, mollitia quo consequatur nemo doloribus sunt facere consequuntur rem ullam eligendi libero.
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum fugit a aliquam iure molestiae deserunt molestias harum aspernatur?
                      Ex, magnam assumenda! Esse voluptate labore quos veritatis doloremque, reprehenderit temporibus nulla.
					</p>

                    <p class="text-center mb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia nemo quos ut cupiditate odit,
                     pariatur temporibus eius! Fugiat, mollitia quo consequatur nemo doloribus sunt facere consequuntur rem ullam eligendi libero.
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum fugit a aliquam iure molestiae deserunt molestias harum aspernatur?
                      Ex, magnam assumenda! Esse voluptate labore quos veritatis doloremque, reprehenderit temporibus nulla.
					</p>

                    <p class="text-center mb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia nemo quos ut cupiditate odit,
                     pariatur temporibus eius! Fugiat, mollitia quo consequatur nemo doloribus sunt facere consequuntur rem ullam eligendi libero.
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum fugit a aliquam iure molestiae deserunt molestias harum aspernatur?
                      Ex, magnam assumenda! Esse voluptate labore quos veritatis doloremque, reprehenderit temporibus nulla.
					</p>

				</div>
			</div>
		</div>
	</div>


{% endblock %}
