{% extends 'layout.html.twig' %}

{% block content %}

	<div class="py-5 text-center bg-green text-white">
		<div class="container py-5">
			<div class="row py-5">
				<div class="mx-auto col-lg-10">
					<h1 class="display-4 mb-4 ">Hello Wilder !
					</h1>
					<p class="lead mb-5">Un téléphone qui traîne ? Donnez le faites un heureux !
					</p>
					<a href="/dons" class="btn btn-lg btn-outline-light mx-1">Autour de moi</a>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
