{% extends 'layout.html.twig' %}

{% block content %}

	<div class="py-5 text-center bg-green text-white">
		<div class="container py-2">
			<div class="row ">
				<div class="mx-auto col-lg-10">
					<h1 class="display-4 mb-4 ">Le Saviez-Vous ?
					</h1>
					<p class="lead mb-5 fs-2">Il y a en France plus de 8 Millions de téléphones inutilisés, dans vos tiroirs, placards.
																																																																																					Le&nbspfameux au cas ou mais qui ne sert jamais !
						<div class="fs-1 mb-5">Alors donnez-le, faites un HEUREUX !</div>
					</p>
					{% if user %}
						<a href="/telephone/add" class="btn btn-lg btn-outline-light mx-1">Faire un don</a>
						<a href="/dons" class="btn btn-lg btn-outline-light mx-1">Autour de moi</a>
					{% else %}
						<a href="/login" class="btn btn-lg btn-outline-light mx-1">Connexion</a>

					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">

		<div class="row  ">
			<h1 class="display-4  text-center ">Les derniers dons de nos&nbspMembres !
			</h1>
			<div class="col m-5 ">
				<div class="card mx-auto border-0" style="width: 18rem;">
					<img src="https://fdn2.gsmarena.com/vv/bigpic/huawei-p20-lite-.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title text-center">Huawei P20 Lite</h5>
						<p class="card-text text-center">Trés bon téléphone avec quelques rayures mais tout fonctionne</p>
					</div>
					<div class="card-body text-center">
						<a href="#" class="card-link">Voir l'annonce</a>
					</div>
				</div>
			</div>
			<div class="col m-5">
				<div class="card mx-auto border-0" style="width: 18rem;">
					<img src="https://fdn2.gsmarena.com/vv/bigpic/apple-iphone-6s1.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title text-center">Apple Iphone 6S</h5>
						<p class="card-text text-center">Iphone en bon état avec ses accessoires.</p>
					</div>
					<div class="card-body text-center">
						<a href="#" class="card-link ">Voir l'annonce</a>
					</div>
				</div>
			</div>
			<div class="col m-5">
				<div class="card mx-auto border-0" style="width: 18rem;">
					<img src="https://fdn2.gsmarena.com/vv/bigpic/wiko-y81.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title text-center">Wiko Y81</h5>
						<p class="card-text text-center">Fonctionne bien , fait de belles photos.</p>
					</div>
					<div class="card-body text-center">
						<a href="#" class="card-link">Voir l'annonce</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
