*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    color: var(--bg-secondary-rgb);
    text-decoration: none;
}

.btn-success {
    color: #fff;
    background-color: rgb(175, 222, 176);
    border-color: rgb(175, 222, 176);
}

.btn-primary {
    color: #fff;
    background-color: rgb(175, 222, 176);
    border-color: rgb(175, 222, 176);
}
