<h1>
	Créer un compte
</h1>
<p>
	Merci de remplir les champs ci-dessous
</p>
<form action="" id="{{ formId }}" method="post">

    <div class="mb-3">
        <label for="pseudo" class="form-label">
            Pseudo
                                                		
                                            
                                
                    
        </label>
        <input class="form-control" type="text" id="pseudo" name="pseudo"></div>

        <div class="mb-3">
            <label for="nom" class="form-label">
                Nom
                                                                		
                                                            
                                            
                            
            </label>
            <input class="form-control" type="text" id="nom" name="nom"></div>

            <div class="mb-3">
                <label for="prenom" class="form-label">
                    Prénom
                                                                                		
                                                                            
                                                        
                                    
                </label>
                <input class="form-control" type="text" id="prenom" name="prenom"></div>

	<div class="mb-3">
		<label for="adresse" class="form-label">
			Adresse
		</label>
		<input class="form-control" type="text" id="adresse" name="adresse"></div>
	<div class="mb-3">
		<label for="codepostale" class="form-label">
			Code Postal
		</label>
		<input class="form-control" type="number" id="codepostale" name="codepostale"></div>
	<div class="mb-3">
		<label for="ville" class="form-label">
			Ville
		</label>
		<input class="form-control" type="text" id="ville" name="ville"></div>
	<div class="mb-3">
		<label for="telephone" class="form-label">
			Téléphone
		</label>
		<input class="form-control" type="number" id="telephone" name="telephone"></div>
	<div class="mb-3">
		<label for="email" class="form-label">
			Email
		</label>
		<input class="form-control" type="email" id="email" name="email"></div>
	<div class="mb-3">
		<label for="password" class="form-label">
			Password
		</label>
		<input class="form-control" type="password" id="password" name="password"></div>
	<button type="submit" form="form-register-page" class="btn btn-success">
		Create account
	</button>
</form>
