{% extends 'layout.html.twig' %}

{% block content %}

	<div class="py-5 text-center bg-green text-white">
		<div class="container-fluid">
			<div class="row ">
				<div class="col-3">
					<img class="img-recycle mx-auto" src="\assets\images\recyclelogo.png" alt="recycle">
				</div>

				<div class="col">
					<div><h1 class="display-4  mx-auto">Votre Smartphone ne fonctionne plus ...</h1><br>
					<p class="lead mb-5 fs-2  mx-auto">Il ne fonctionne plus, en êtes-vous sur ?<br> <br>
					Offrez-lui une deuxième vie grâce au recyclage de ses composants !
					</p></div>
                    <div class="fs-1  mx-auto"><h1>Ci dessous la liste de nos partenaires :</h1></div>
				</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row  ">
			<h1 class="display-4 text-center mt-4">Allez hop il n'y a que l'embarras du choix !
			</h1>
			<div class="col m-5 ">
				<div class="card mx-auto border-0" style="width: 18rem;">
					<img src="\assets\images\logoadbvectorise.jpg" class="card-img-top  " alt="...">
					<div class="card-body">
						<h5 class="card-title text-center">Les Ateliers du Bocage</h5>
						<p class="card-text text-center">MEMBRE DU MOUVEMENT EMMAÜS
Coopérative d’utilité sociale et environnementale</p><br>
					</div>
					<div class="card-body text-center">
						<a href="http://ateliers-du-bocage.fr/" class="card-link">Site Web</a>
					</div>
				</div>
			</div>
			<div class="col m-5">
				<div class="card mx-auto border-0" style="width: 18rem;">
					<img src="\assets\images\logo-d.png" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title text-center">ECOSYTEM</h5>
						<p class="card-text text-center">Donner ou recycler vos vieux téléphones : un geste solidaire, écologique et simple comme une lettre à la poste. Découvrez ici tous nos conseils.</p>
					</div>
					<div class="card-body text-center">
						<a href="https://www.ecosystem.eco/" class="card-link ">Site Web</a>
					</div>
				</div>
			</div>
			<div class="col m-5">
				<div class="card mx-auto border-0" style="width: 18rem;">
					<img src="\assets\images\ecolo.png" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title text-center">EcoLogic</h5>
						<p class="card-text text-center">Éco-organisme national pour la prévention, la collecte et le recyclage des DEEE.</p><br>
					</div>
					<div class="card-body text-center">
						<a href="https://www.ecologic-france.com/" class="card-link">Site Web</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
